/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    background-image: url(rg.jpg )  ;
}

h1 {
    color: #f7f2f2;
    text-align: center;
    margin-top: 50px;
    font-size: 36px;
    font-family: 'Times New Roman', Times, serif;
}

form {
    background-color: rgba(85, 83, 83, 0.795);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    padding: 30px 40px;
    max-width: 500px;
    margin: 0 auto;
    color: #f3eeee;
}

label {
    display: block;
    margin-bottom: 0px;
    font-size: 18px;
    color: #050505;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="number"],
input[type="date"],
select,
input[type="radio"] {
    width: calc(100% - 24px);
    padding: 12px;
    border: none;
    border-bottom: 2px solid #ccc;
    font-size: 18px;
    margin-bottom: 20px;
    color: #f3eeee;
    background-color: transparent;
    border-color: #f5f4f4;
    border-radius: 0;
    border-width: 0 0 2px 0;
    transition: border-bottom-color 0.3s ease;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
input[type="radio"]:focus {
    border-bottom-color: #007bff;
    outline: none;
}

input[type="button"] {
    background-color: #4CAF50;
    color: #070707;
    border: none;
    padding: 14px 20px;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #95b3eb;
}
